<div class="col-md-9 col-md-offset-1">
    <h2>All Customer Orders</h2>
    Filter: <input type="text" ng-model="orderFilter.product" placeholder="Product"/>
    <br/><br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in allOrderCtrl.orders | filter:orderFilter | orderBy:'name'">
                <td>{{ order.product }}</td>
                <td>{{ order.total | currency }}</td>
            </tr>
            <tr ng-class="totalType">
                <td>&nbsp;</td>
                <td>{{ ordersTotal | currency }}</td>
            </tr>
        </tbody>
    </table>
    <br/>
    <p><a href="/">Back to Customers</a></p>
</div>